body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(145, 205, 145);
    text-size-adjust: none;
}

header{
    text-align: center;
    background-image: url("../images/PageHeader.webp");
    background-size: 100% 200px;
    background-repeat: no-repeat;
    height: 150px;
    padding: 0;
}

header div img{
    position: absolute;
    left: 8px;
    height: 75px;
    width: 75px;
    top: 8px;
}

.wrapper{
    width: 90%;
    background-color: rgb(255, 233, 210);
    margin: auto;
    border-top: 50px solid rgb(255, 233, 210);
}

header nav{
    text-align: left;
    font-size: 16pt;
    background-color: black;
    min-width: 18%;
    opacity: 1;
    position: absolute;
    margin-top: 125px;
}

header nav a{
    text-decoration: none;
    color:white;
}

.headermargin{
    text-align: left;
    margin-left: 7%;
  }

  .pmargin{
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.5;
    position: relative;
  }

  .img1{
    width: 20%;
    height: auto;
    max-height: 250px;
    margin-left: 10%;
  }

  .img2{
    width: 20%;
    height: auto;
    max-height: 250px;
    margin-left: 10%;
  }

 hr{
    margin-top: 50px;
  }

.footermargin{
    margin-left: 7%;
    background-color: rgb(255, 233, 210);
    margin-right: 5%;
    line-height: 1.5;
  }

footer a{
    text-decoration: none;
    color: blue;
  }

  footer a:hover{
    color: green;
  }